.navbar{
	position: fixed;
	width: 100%;
	z-index: 10;
}
.header{
	background-image: url("https://images.pexels.com/photos/1027393/pexels-photo-1027393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	min-height: 100vh;
	width: 100%;
}
#name{
	padding-top: 335px;
	min-height: 100vh;
	top: 50%;
    left: 50%;
    z-index: 3;
	color: #fff;
    text-align: center;
    text-transform: uppercase;
}
#name h1{
	text-align: center;
	font-size: 40 px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.general{
	padding-top: 100px;

}
.general h1{
	text-align: center;
	font-size: 100 px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 50px;
}
.general h3{
	text-align: center;
	font-size: 20px;
    font-style:italic;
    margin: 0;
    padding-bottom: 35px;
}
#prof{
	text-align: center;
	/*border:5px solid blue;*/
}
#prof img{
	width: 320px;
	height:320px;
}
#description{
	padding-right: 70px;
}
.col-4 {
	/*border:5px solid blue;*/
	margin-bottom: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.col-sm h4{
	text-align: center;
    margin: 0;
    padding-bottom: 35px;
}
.col-sm h5{
	text-align: center;
	color:#737373;
}
.paragraph {
	font-size: 20px;
	text-align: justify;
}
p{
	text-align: justify;
}
.exp{
	width: 170px;
	height:170px;
	margin-left: auto;
	margin-right: auto;
	display:block;

}
.lang{
	width: 100px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}
.rating{
	/*border:5px solid green;*/
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#details{
	/*border:5px solid green;*/
	padding-left: 70px;
	padding-right: 70px;
}
.cont{
	width: 50px;
	height:50px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}
#contact{
	padding-bottom: 100px;
}
#footer {
	padding-top: 20px;
	text-align: center;
	border:5px solid #585858;
	background-color: #585858;
}
#footer p{
	text-align: center;
	font-size:22px;
	color:white;
}



